.chat{
  width:490px;
  margin: auto;
}

.chat-container{
  display: flex;
  justify-content: space-between;
  background-color: #eee;
  padding:18px;
  border-radius: 10px;
  border: 2px solid #ddd;
}
.chat-screen {
  width: 500px;
  height:450px;
  overflow-y: auto;
}

.answer-contanier {
  display: flex;
  justify-content: flex-start;
  gap:60px;
}
.sub-title{
  font-size:20px;
  margin-bottom: 8px;
}
.main-title {
margin-left: 200px;
margin-bottom: 15px;
}