.chat{
  width:300px;
  margin-left: 30px;
}

.chat-container{
  display: flex;
  justify-content: space-between;
  background-color: #eee;
  padding:18px;
  border-radius: 10px;
  border: 2px solid #ddd;
}


.chat-screen1,
.chat-screen2,
.chat-screen3{
  width: 260px;
  height:350px;
  overflow-y: auto;
}

.answer-contanier {
  display: flex;
  justify-content: flex-start;
  gap:60px;
  margin-left: 175px;
}
.sub-title{
  font-size:20px;
  margin-bottom: 8px;
}
.main-title {
margin-left: 160px;
margin-bottom: 15px;
}